/* Please use always the chart id as primary selector to not interfer with other parts */

/* Adjusting chart tools */

/* Adjusting the chart container */

#chart-demo2_chart .chart-box-outer {
  margin-top: -15px;  /* Custom margins */
  /* padding-top: calc(max(66%, 300px)); */ /* Custom graph height */
}

/* Adjusting the modal container */

#chart-modal-content-demo2_chart {
  /* Create scrollable modal */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

#chart-demo2_chart .chart-col-above {
  position: relative;
}

#chart-demo2_chart .chart-col-below {
  display: flex;
}

#chart-demo2_chart .chart-col-two_charts {
  flex: 1;
  padding: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

