#chart-climate_undershoot_carbon .chart-box-outer {
  padding-top: calc(max(52%, 400px)); /* Custom graph height */
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}
#chart-climate_undershoot_carbon .chart-box-inner {
  overflow-y: scroll;
  overflow-x: hidden;
}
#chart-modal-box {
  overflow-y: scroll;
  overflow-x: hidden;
}
