#chart-responsibility_overshoot_carbon .chart-box-outer {
  margin-top: -15px;
  padding-top: calc(max(66%, 400px));  /* Custom graph height */
}
#chart-responsibility_overshoot_carbon .chart-box-inner{
  overflow: scroll;

}
#chart-modal-box{
  overflow: scroll;
}