/* Please use always the chart id as primary selector to not interfer with other parts */

/* Adjusting chart tools */

#chart-planet_boundaries_donut h1 {
  /*color: darkblue;*/
}

/* Adjusting the chart container */

#chart-planet_boundaries_donut .chart-box-outer {
  margin-top: -15px; /* Custom margins */
  /* padding-top: calc(max(66%, 300px)); */ /* Custom graph height */
}

/* Adjusting the modal container */

#chart-modal-content-planet_boundaries_donut {
  /* Create scrollable modal */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
#chart-canvas-planet_boundaries_donut {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}
#chart-modal-content-planet_boundaries_donut-charts-modal,
#chart-canvas-planet_boundaries_donut-charts {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;

}
#chart-modal-content-planet_boundaries_donut .vertical-doughnut,
#chart-canvas-planet_boundaries_donut .vertical-doughnut {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.vertical-control {
  padding-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.vertical-control input {
  -webkit-appearance: auto;
}
.donut {
  max-height: 450px;
  max-width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 80%;
  padding-top: 10%;
  align-items: flex-end;
}
#doughnut_north {
  width: 100%;
  align-items: flex-start;
  padding-top: 0%;

}

@media all and (max-width: 460px)  {
  #chart-canvas-planet_boundaries_donut,
  #chart-modal-content-planet_boundaries_donut-charts-modal,
  #chart-canvas-planet_boundaries_donut-charts {
    max-height: none;
  }
  #chart-wrapper-planet_boundaries_donut .chart-box-outer{
    padding-top: 0px;
  }
  #chart-wrapper-planet_boundaries_donut .chart-box-inner {
    position: relative;
  }
}