/* Please use always the chart id as primary selector to not interfer with other parts */

/* Adjusting chart tools */

#chart-climate_world_treemap .chart-template-main {
  width: 100%;
}
#chart-climate_world_treemap #treemap_svg  {
  max-width: 600px;
  max-height: 450px;
}

@media all and (max-width: 460px)  {
  #chart-climate_world_treemap #treemap_svg text{
    font-size: 9px!important;
  }
}
#chart-climate_world_treemap .chart-box-outer {
  margin-top: -20px; /* Custom margins */
}
#chart-modal-content-climate_world_treemap{
  max-height: 100%;
  overflow: hidden;
}