/* Charts */

.chart-interface {
  /*padding-top: 30px;
    padding-bottom: 30px;*/
}

.chart-title {
  background-color: #f7f7f7;
  color: #646464;
  padding: 12px 17px;
  font-size: 14px;
  margin-bottom: 3px;
}

.chart-title h1 {
  font-weight: 700;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 0px;
  line-height: 1.5em;
}

/* Chart Buttons */

.chart-btn {
  background-color: #f7f7f7;
  border: none;
  color: #646464;
  padding: 15px 17px;
  margin: 3px 0px;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.chart-btn i {
  margin-right: 15px;
  width: 15px;
  text-align: center;
}

@media all and (max-width: 980px) {
  .chart-expand-btn {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .chart-btn {
    padding: 12px 17px;
  }
}

.chart-btn:hover {
  background-color: #e2e2e2;
}

/* Chart Sub Buttons */

.chart-share-btns {
  display: none;
  background-color: #f7f7f7;
  margin-bottom: 3px;
}

.chart-share-btns .chart-btn {
  margin-top: -4px;
  padding: 10px 0px 10px 40px;
}

/* Chart Expansion Modal */

.modal-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding: 5px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-box {
  margin: 30px;
  padding: 20px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background-color: white;
}

.modal-close {
  color: #fff;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
}

/* Chart Ratio Box */

.chart-box-outer {
  width: 100%;
  padding-top: 400px; /*max(66%, 300px); */
  position: relative;
}

.chart-box-inner {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*box-shadow: 0 0 10px #80808029;*/
  padding: 0px 20px 10px 5px;
}

.apexcharts-tooltip {
  line-height: 1em;
}

.downloadImage {
  position: fixed;
  padding: 30;
  top: -1000;
}
.downloadImage .et_pb_menu__logo {
    overflow: hidden;
    width: 300;
}

