/* Style changes for template two_charts -----------------*/
.chart-template-two_charts .chart-all-btns {
  display: none;
}

.chart-template-two_charts .chart-col-above {
  width: 100%;
}

.chart-template-two_charts .chart-col-below {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 50px;
}

.chart-template-two_charts .chart-title-bars {
  display: block !important;
  margin-left: auto;
  margin-right: 0;
}

.chart-template-two_charts .chart-expand-btn {
  display: none;
}

.chart-title-two_charts .chart-description-two_charts {
  display: none;
}

.chart-template-two_charts .chart-sources-popover {
  width: 100%;
  border-right: 0;
}
/*--------------------------------------------------------*/

.chart-template-main {
  display: flex;
}

.chart-col-left {
  width: 22.75%;
  margin-right: 3%;
}

.chart-col-right {
  width: 74.25%;
}

/* Mobile view */

@media all and (max-width: 900px) {
  .chart-template-main {
    display: block;
  }

  /* Style changes for template two_charts -----------------*/
  .chart-template-two_charts .chart-col-below {
    height: 90vh !important;
    flex-direction: column !important;
  }
  .chart-col-two_charts .chart-box-outer{
    padding-top: 0;
  }
  .chart-col-two_charts .chart-box-inner{
    height: 45vh !important;
  }
  /*--------------------------------------------------------*/

  .chart-col-left {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 20px;
  }

  .chart-col-right {
    width: 100%;
  }
}

/* Charts */

.chart-title {
  background-color: #f2f2f2;
  color: #646464;
  padding: 12px 17px;
  font-size: 14px;
  margin-bottom: 3px;
  display: flex;
}

.chart-title-main {
  width: 100%;
}

.chart-title-bars {
  display: none;
}

.chart-title-bars i {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 7px;
  margin-right: 2px;
}

.chart-title h1 {
  font-weight: 700;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 0px;
  line-height: 1.5em;
}

/* Chart Buttons */

.chart-title-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.chart-btn {
  background-color: #f2f2f2;
  border: none;
  color: #646464;
  padding: 15px 17px;
  margin: 3px 0px;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.chart-btn:hover {
  background-color: #e2e2e2;
}

.chart-btn[value*='ON'] {
  font-weight: bold;
  background-color: #e2e2e2;
  border-bottom: 3px white solid;
}

.chart-btn i {
  margin-right: 15px;
  width: 15px;
  text-align: center;
}

@media all and (max-width: 900px) {
  .chart-title-bars {
    display: block;
  }

  .chart-all-btns {
    display: none;
  }

  .chart-expand-btn {
    display: none;
  }

  .chart-btn {
    padding: 12px 17px;
  }

  .chart-sources-popover {
    width: auto !important;
    border: none !important;
    margin-top: 0px !important;
  }
}

/* Chart Sub Buttons */

.chart-btn-area {
  display: none;
  background-color: #f7f7f7;
  margin-bottom: 3px;
}

.chart-btn-area .chart-btn {
  margin-top: -4px;
  padding: 10px 0px 10px 17px;
}

/* Chart Expansion Modal */

.modal-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding: 5px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-box {
  margin: 30px;
  padding: 20px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background-color: white;
}

.modal-close {
  color: #fff;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
}

/* Chart Ratio Box */

.chart-box-outer {
  width: 100%;
  padding-top: calc(max(66%, 300px));
  position: relative;
}

.chart-box-inner {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*box-shadow: 0 0 10px #80808029;*/
  padding: 0px 20px 10px 5px;
}

.apexcharts-tooltip {
  line-height: 1em;
}

.downloadImage {
  position: fixed;
  padding: 30;
  top: -1000;
}

.downloadImage .global_inequality_logo {
  overflow: hidden;
  width: 150;
  float: right;
}

.chart-sources-popover {
  position: relative;
  margin-top: -3px;
  display: none;
  visibility: hidden;
  width: 200%;
  padding: 10px 17px;
  background: #f2f2f2;
  z-index: 100;
  min-height: 50px;
  overflow: hidden;
  border-top: white 3px solid;
  border-right: white 3px solid;
  border-bottom: white 3px solid;
}

.chart-sources-popover .chart-btn {
  margin-top: 0px;
  padding: 10px 12px;
}

/*necessary for popover to be visible above apexcharts*/
.et_pb_column .et_pb_column_1_4 {
  z-index: 3;
}

.chart-sources-popover-title {
  font-size: 14px;
  font-family: 'Open Sans';
  margin: 3px 0px;
  color: #646464;
}

.glich-backend {
  background-color: #f7f7f7;
  padding: 15px;
  margin-bottom: 15px;
}

#chart-modal-box {
  overflow: scroll;
}

/* border for map charts */
.svgMap-map-image {
  border: 1px solid #ddd;
  border-radius: 3px;
}
.map-legend {
 display: flex;
 justify-content: center;
 width: 100%;
}
.map-legend table tbody tr {
  display: flex;
  flex-direction: column;
}
.map-legend .level_name {
  font-size: small;
  padding: 10px;
}
.map-legend .level_rect {
  background-color: #950000;
  width: 100%;
  display: block;
  height: 11px;
}

.svgMap-map-wrapper .svgMap-country {
  stroke: #747474!important;
}